{% extends "base.html" %}

{% block content %}

  <div class="inner">
    <!-- <h1 class="cover-heading">Cover your page.</h1> -->
    <img class="lead" src="../static/images/404.png" class="img-responsive" width="180" height="100"> 
    <p class="lead">The URL you are looking for is not available right now.</p>
    <p class="lead">Try to find someone using email address</p>
    <!-- <p class="lead">Just put it below.</p> -->
    <!-- <form class="nav-form" action="." method="POST">
      <input class="form-control input-lg" type="text" placeholder="Enter an email address" name="emailid">
    </form> -->
    <!-- <p class="lead">
      <a href="#" class="btn btn-lg btn-default">Learn more</a>
    </p> -->
  </div>

{% endblock %}
