<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="../static/images/favicon.png">

      <title>Conversed!</title>

      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
      <!-- Custom styles for this template -->
      <link href="../static/css/cover.css" rel="stylesheet">
      <link href="../static/css/loading.css" rel="stylesheet">
	  <link href="../static/css/style.css" rel="stylesheet">

  </head>
  <body class="cover">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">
              {% block header %}{% endblock%}
              </h3>
              <!-- <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Contact</a></li>
              </ul> -->
            </div>
          </div>

            {% block content %}
            {% endblock %}

          <div class="mastfoot">
            <div class="inner">
              <!-- <p>Created by <a href="http://www.iamsudip.me/">@iamsudipy</a> based on data from <a href="https://vibeapp.co/">Vibeapp</a>.</p> -->
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Loading animation -->
    <div id="loading" class="loading-wrap" style="display:none;">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
    </div>
    <!--  -->
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $('[data-toggle="tooltip"]').tooltip();
      $('[data-toggle="popover"]').popover({trigger: 'hover','placement': 'top'});
    </script>
    <!-- JS for loading animation *start* -->
    <script type="text/javascript">
    	function ButtonClicked()
    	{
    	   document.getElementById("form").style.display = "none"; // to undisplay
    	   document.getElementById("loading").style.display = ""; // to display
    	   return true;
    	}
    	var FirstLoading = true;
    	function RestoreSubmitButton()
    	{
    	   if( FirstLoading )
    	   {
    	      FirstLoading = false;
    	      return;
    	   }
    	   document.getElementById("form").style.display = ""; // to display
    	   document.getElementById("loading").style.display = "none"; // to undisplay
    	}
    	// To disable restoring submit button, disable or delete next line.
    	document.onfocus = RestoreSubmitButton;
    </script>
    <!-- JS for loading animation *end* -->

    {% block footer %}
    {% endblock %}

  </body>
</html>
