{% extends "base.html" %}

{% block content %}

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand"><a href="/">Know your<br>contacts<br></a></h3>
            <!-- <ul class="nav masthead-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Contact</a></li>
            </ul> -->
          </div>
        </div>



        <div class="mastfoot">
          <div class="inner">
            <p>Created by <a href="http://www.iamsudip.me/">@iamsudipy</a> using <a href="https://vibeapp.co/">Vibeapp API</a>.</p>
          </div>
        </div>

      </div>

    </div>

  </div>

{% endblock %}