{% extends "base.html" %}

{% block content %}

  <div class="inner" id="form">
    <!-- <h1 class="cover-heading">Cover your page.</h1> -->
    <p class="lead">We help you find the person behind an email address</p>
    <!-- <p class="lead">Just put it below.</p> -->
    <form class="form-search" action="." method="POST">
      <div class="form-group">
        <div class="input-group input-group-md">
            <div class="icon-addon addon-md">
                <input class="form-control" id="email" type="text" placeholder="Enter an email address" name="emailid">
                <label for="email" class="glyphicon glyphicon-search" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Email search engine"></label>
            </div>
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" aria-label="Search" onclick="ButtonClicked()">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              </button>
            </span>
        </div>
      </div>
    </form>
    <!-- <p class="lead">
      <a href="#" class="btn btn-lg btn-default">Learn more</a>
    </p> -->
  </div>

{% endblock %}
